<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Modal Helper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bootstrap Modal Helper</h1>
  </body>
</html>
